<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=NATI;Initial Catalog=Produse;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Calea către folderul în care vor fi salvate pozele -->
		<add key="PicturesFolderPath" value="C:\Users\ilinc\Desktop\FINAL PICTURE" />
	</appSettings>
</configuration>